body {
  background-color: #001830;
  margin: 0;
}

#navbar {
    background-color: #27BD80;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    position: fixed
}

#botões {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
  
  #botão-de-criar-conta:hover { 
    transition: 0.25s;
    transform: scale(1.25);
  }  

#logo-cjr {
    padding-left: 50px;
    scale: 0.6;
    background-color: white;
    padding-right: 50px;
    border-radius: 25px;
    height: 80px;
}

#botão-de-entrar:hover {
  transition: 0.25s;
  transform: scale(1.25);
}

#Coluna-de-comentários {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  width: 40%;
}

#Comentários {
  text-align: left;
  border: 2px solid #121212;
  border-top: transparent;
  color:#001830;
  font-size: 12px;
  font-family: sans-serif;
  width: 100%;
  margin-top: 80px;
}

#Comentários h1 {
  margin-left: 10px;
}

#Comentário-1 h1, #Comentário-2 h1, #Comentário-3 h1{
  margin-left: 10px;
  font-family: sans-serif;
}

#Comentário-1 h2, #Comentário-2 h2, #Comentário-3 h2 {
  margin-left: 20px;
  font-family: sans-serif;
}

#UsernDate {
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

#UsernDate img {
  scale: 1.1;
  max-width: 40px;
  max-height: 40px;
  border-radius: 30px;
}

#Comentário-1 p, #Comentário-2 p, #Comentário-3 p {
  margin: 0 20px 20px 70px;
  font-family: sans-serif;
  font-size: larger;
} 

#Comentário-1, #Comentário-2, #Comentário-3 {
  border: 1px solid #121212;
} 

#foca {
  align-self: center;
  max-width: 100%;
  width: 100%;
  height: auto;
  scale: 0.9; 
}

#Comentário-1,
#Comentário-2,
#Comentário-3 {
  border: 1px solid #121212;
  padding: 10px;
  background-color: #002F67;
  color: white; 
  margin: 10px; 
  border-radius: 25px;

}

#pfp {
  border: 2px white solid;
}

#botão-de-entrar {
  scale: 1.2;
  background-color:#001830;
  color: white;
  border-radius: 25px;
  padding: 10px;
  border: none;
  font-family: sans-serif;
  font-weight: 550;
}

#botão-de-criar-conta {
  margin-right: 30px;
  background: transparent;
  font-family: sans-serif;
  font-weight: bold;
  color: #001830;
  border: transparent;
  scale: 1.2;
  margin-top: 10px;
}

#commenterpfp {
  background-color: transparent;
  border: transparent;
  margin-top: 15px;
}

#user {
  background-color: transparent;
  border: none;
  color: white;
  font-family: sans-serif;
}

#pfp:hover {
  transition: 0.25s;
  transform: scale(1.25);
}

header {
  /*como tirar os espaçamentos entre o header e a página*/
  width: 1440px;
  height: 80px;
  top: -1px;
  display: flex; 
  background-color: #27BD80;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;    
  position: fixed;
}

#logoHeader {
  padding-left: 50px;
  scale: 0.6;
  background-color: white;
  padding-right: 50px;
  border-radius: 25px;
  height: 80px;
  left: 20px;
}

#botoesCadastroHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: fixed;
  right: 20px;
}

#botoesHeader{
  display: flex;
  justify-content: space-between; /* Distribui os elementos igualmente */
  align-items: center; /* Alinha verticalmente */
  padding: 10px 10px; /* Adiciona um espaçamento interno */
  position: fixed;
  right: 20px;
  text-decoration: none;
}

#botaoEntrar{
  scale: 1.2;
  background-color:#001830;
  color: white;
  border-radius: 25px;
  padding: 10px;
  margin-right: 20px;
  border: none;
  font-family: sans-serif;
  font-weight: 550;
}

#botaoCriarConta{
  margin-right: 30px;
  background: transparent;
  font-family: sans-serif;
  font-weight: bold;
  color: #001830;
  border: transparent;
  scale: 1.2;
  margin-top: 5px;
}

#botaoEntrar:hover {
  transition: 0.25s;
  transform: scale(1.25);
}

#botaoCriarConta:hover {
  transition: 0.25s;
  transform: scale(1.25);
}