header {
    width: 1440px;
    height: 80px;
    top: -1px;
    background-color: #27BD80;
}

/*

body {

}

aside {

}

footer {

}

#conteudoHeader {
    
}

#boataoEntrar{
    
}

#botaoCriarConta{

}

#logoHeader {
     
}

#formulario {

}

#logoTela {

}

*/
