body {
    background-color: #001830;
    margin: 0;
  }
  
  #navbar {
      background-color: #27BD80;
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      width: 100%;
      max-height: 80px;
      position: fixed;
  }
  
  /*#botões {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      margin-right: 10px;
      padding-bottom: 10px;
  } */
  
  #logo-cjr {
      padding-left: 50px;
      scale: 0.6;
      background-color: white;
      padding-right: 50px;
      border-radius: 25px;
      height: 80px;
  }
  
  /*#botão-de-entrar input {
      background-color: #001830;
      color: white;
      scale: 1.5;
      margin-right: 20px ;
      height: 30px;
      width: 50px;
      border-radius: 25px;
      border: transparent;
  } 
  
  #botão-de-entrar input:hover {
    transition: 0.25s;
    transform: scale(1.25);
  } */
  
  #Coluna-de-comentários {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    width: 40%;
  }
  
  #Comentários {
    text-align: left;
    border: 2px solid #121212;
    border-top: transparent;
    color:#001830;
    font-size: 12px;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }

  #Comentar {
    margin-right: 35px;
    scale: 1.5; 
  }

  #Comment {
    background-color: #002F67;
    color: white;
    border-radius: 5px;
    border: none;
  }
  
  #Comentar input:hover {
    transition: 0.25s;
    transform: scale(1.25);
  }

  #Comentários h1 {
    margin-left: 10px;
  }
  
  /*#Comentário-1,
  #Comentário-2,
  #Comentário-3 {
    border: 2px solid #121212;
    padding: 10px;
    background-color: white;
    font-family: sans-serif;
  }
  
  #Comentário-2 img {
    max-width: 100%;
    height: auto;
  }
  
  #UsernDate {
    display: flex;
    flex-direction: row;
  }
  
  #UsernDate h1 {
    margin-right: 10px;
  }
  
  #UsernDate h2 {
    margin-bottom: 10px;
  }
  
  */
  
  #Comentário-1 h1, #Comentário-2 h1, #Comentário-3 h1{
    margin-left: 10px;
    font-family: sans-serif;
    text-decoration: none;
  }
  
  #Comentário-1 h2, #Comentário-2 h2, #Comentário-3 h2 {
    margin-left: 20px;
    font-family: sans-serif;
  }
  
  #UsernDate {
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }
  
  #UsernDate img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 30px;
    border: 2px solid white;
  }
  
  #Comentário-1 p, #Comentário-2 p, #Comentário-3 p {
    margin: 20px;
    font-family: sans-serif;
    font-size: larger;
  } 
  
  #Comentário-1, #Comentário-2, #Comentário-3 {
    border: 1px solid #121212;
  } 
  
  #foca {
    align-self: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    scale: 0.9;
  }
  
  #Comentário-1,
  #Comentário-2,
  #Comentário-3 {
    border: 1px solid #121212;
    padding: 10px;
    background-color: #002F67;
    color: white; 
    margin: 10px; 
    border-radius: 25px;
  
  }
  

  #pfp1 {
    max-width: 40px;
    max-height: 40px;
    margin-left: 20px;
    border-radius: 30px;
    border: none;
    margin-top: 10px
  }

  #Right {
    display: flex;
    flex-direction: row;
    max-height: 80px;
    margin-right: 20px;
    font-family: sans-serif;
  }

  #pfp1 {
    margin-right: 20px;
  }

  #TopComment {
    display: flex;
    justify-content: space-between;
  }

  #delete {
    margin-right: 20px;
    margin-top: 20px;
  }

  #Delete {
    background-color: transparent;
    border: none;
    color: white;
    scale: 1.5;
    text-decoration: underline;
  }

  #Edit {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  #Editar {
    background-color: transparent;
    border: none;
    color: white;
    scale: 1.5;
    text-decoration: underline;
  }

  #commenterpfp {
    background-color: transparent;
    border: transparent;
    margin-top: 15px;
  }

  #Username {
    background-color: transparent;
    color:#001830;
    border: none;
  }

  #userpfp {
    background-color: transparent;
    border: none;
  }

  #exit {
    margin-top: 15px;
    background-color: #27BD80;
    border: none;
  }

  #user {
    background-color: transparent;
    color: white;
    font-family: sans-serif;
    border: none;
  }

  #delete {
    background-color: transparent;
    border: none;
  }

  #Edit {
    background-color: transparent;
    border: none;
  }
  
  #pfp1:hover {
    transition: 0.25s;
    transform: scale(1.25);
  }

  #exit:hover {
    transition: 0.25s;
    transform: scale(1.25);
  }

  #pfp:hover {
    transition: 0.25s;
    transform: scale(1.25);
  }

  #delete:hover {
    transition: 0.25s;
    transform: scale(1.25);
  }

  #Edit:hover {
    transition: 0.25s;
    transform: scale(1.25);
  }