header {
    background-color: #27BD80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#logo-cjr {
    padding-left: 50px;
    padding-right: 50px;
    scale: 0.6;
    background-color: white;
    border-radius: 25px;
    height: 80px;
}

#Header-Right {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

#botao-de-criar-conta {
    margin-right: 30px;
    background: transparent;
    font-family: sans-serif;
    font-weight: bold;
    color: #001830;
    border: transparent;
    scale: 1.2;
    margin-top: 10px;
}

#botao-de-criar-conta:hover { 
    transition: 0.25s;
    transform: scale(1.25);
}  

#botao-de-entrar {
    scale: 1.2;
    background-color:#001830;
    color: white;
    border-radius: 25px;
    padding: 10px;
    border: none;
    font-family: sans-serif;
    font-weight: 550;
}

#botao-de-entrar:hover {
    transition: 0.25s;
    transform: scale(1.25);
}

body {
    background-color: #001830;
    margin: 0;
}

#Coluna-publicacoes {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
}

#Titulo-publicacoes {
    /* background-color: white;
    align-items: top;
    justify-content: left;
    margin: auto;
    width: 40%;
    border: 2px solid #121212;
    padding-top: 0;
     */

    text-align: left;
    border-bottom: 2px solid #121212;
    border-top: transparent;
    color:#001830;
    font-size: 12px;
    font-family: sans-serif;
    width: 100%;
    margin-top: 42px;
}

#Titulo-publicacoes h1{
    margin-left: 10px;
}

/* .publicacoes */

#Publicacao1, 
#Publicacao2, 
#Publicacao3 {
    /* 
    width: 100%;
    margin: 20px; 
    */
    border: 1px solid #121212;
    padding: 10px;
    background-color: #002F67;
    color: white; 
    margin: 10px; 
    border-radius: 25px;
}

.publicacoes h2 {
    margin-left: 20px
}

.UsernDate {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    font-family: sans-serif;
}

.botoes-foto-perfil-publicacao {
    scale: 1.1;
    max-height: 35px;
    width: auto;
    width: fit-content;
    height: fit-content;
    margin-top: 15px;
    background-color: transparent;
    border: none;
    z-index: 0;
}

.botoes-foto-perfil-publicacao img {
    border: 2px white solid;
    max-width: 40px;
    max-height: 40px;
    border-radius: 30px;
    z-index: 0;
}

.botoes-nome-usuario-publicacao {
    background-color: transparent;
    border: none;
    color: white;
}

.botoes-nome-usuario-publicacao h1 {
    margin-left: 10px;
}

.texto-publicacao {
    text-decoration: none;
    text-align: left;
    /* border: 2px solid #121212; */
    border-top: transparent;
    color: white;
    font-family: sans-serif;
    font-size: larger;
    width: 100%;
}

.texto-publicacao p {
    margin: 0 20px 20px 70px
}

#Imagem-publicacao {
    align-self: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    scale: 0.9;
}

header {
    /*como tirar os espaçamentos entre o header e a página*/
    width: 1440px;
    height: 80px;
    top: -1px;
    display: flex; 
    background-color: #27BD80;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;    
    position: fixed;
  }
  
  #logoHeader {
    padding-left: 50px;
    scale: 0.6;
    background-color: white;
    padding-right: 50px;
    border-radius: 25px;
    height: 80px;
    left: 20px;
  }
  
  #botoesCadastroHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: fixed;
    right: 20px;
  }
  
  #botoesHeader{
    display: flex;
    justify-content: space-between; /* Distribui os elementos igualmente */
    align-items: center; /* Alinha verticalmente */
    padding: 10px 10px; /* Adiciona um espaçamento interno */
    position: fixed;
    right: 20px;
    text-decoration: none;
  }
  
  #botaoEntrar{
    scale: 1.2;
    background-color:#001830;
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin-right: 20px;
    border: none;
    font-family: sans-serif;
    font-weight: 550;
  }
  
  #botaoCriarConta{
    margin-right: 30px;
    background: transparent;
    font-family: sans-serif;
    font-weight: bold;
    color: #001830;
    border: transparent;
    scale: 1.2;
    margin-top: 5px;
  }
  
  #botaoEntrar:hover {
    transition: 0.25s;
    transform: scale(1.25);
  }
  
  #botaoCriarConta:hover {
    transition: 0.25s;
    transform: scale(1.25);
  }

  .botoes-foto-perfil-publicacao:hover {
    transition: 0.25s;
    transform: scale(1.25);
  }