/* 
    elemento
    .classe
    #id
*/



header {
    background-color: #27BD80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

#logo-cjr {
    padding-left: 50px;
    padding-right: 50px;
    scale: 0.6;
    background-color: white;
    border-radius: 25px;
    height: 80px;
}

#Header-Right {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;

}

#botao-de-criar-conta {
    color: #001830;
    border: none;
    background: transparent;
    border: transparent;
}

#botao-de-entrar {
    background-color: #001830;
    color: #27BD80;
}

body {
    background-color: #001830;
    margin: 0;
}

#Coluna-publicacoes {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    }

#Titulo-publicacoes {
    display: flex;
}

.publicacoes {
    background-color: #002F67;
    width: 40%;
    border-radius: 25px;
}

.UsernDate {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.foto-perfil {
    scale: 1;
    height: 35px;
    width: auto;
}

.texto-publicacao {}

.texto-publicacao {
    text-decoration: none;
    color: brown
}

.Imagem-publicacao {
    align-self: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    scale: 0.9;
}