body {
    margin: 0;
    background-color: #001830;
}

#logoCJR {
    background-color: white;
    margin-left: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    scale: 0.8;
}

#navbar {
    display: flex; /* Define um container flexível */
    justify-content: space-between; /* Distribui os elementos horizontalmente */
    align-items: center; /* Centraliza verticalmente os elementos */
    background-color: #27BD80; /* Cor de fundo da navbar (opcional) */
    height: 100px;
    width: 100%;
    
}

#enter {
    background-color: #001830;
    color: white;
    font-size: larger;
    padding: 15px;
    font-family: sans-serif;
    border: transparent;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}

#Entrar {
    margin-left: 20px;
}

#account {
    background-color: transparent;
    color: #001830;
    border: transparent;
    font-size: larger;
    padding: 15px;
    font-family: sans-serif;
    font-weight: bolder;
}

#enter:hover {
    transform: scale(1.25);
    transition: 0.25s;
}

#account:hover {
        transform: scale(1.25);
        transition: 0.25s;
}

#ProfileBox {
    margin: 0 auto;
    background: linear-gradient(to bottom, #002F67 0%, #002F67 40%, white 40%, white 100%);
    border-bottom: solid 2px #002F67;
}

#mainpfp {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%; /* Adiciona position absolute para posicionar a partir do canto superior esquerdo do container pai */
    margin-top: 100px; /* Move 100px para baixo */
    margin-left: 100px; /* Move 100px para a direita */
    border: solid white 2px
}

/* Adiciona estilos para as informações (exemplo, ajuste conforme necessário) */
#job,
#mail {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: lighter;
}

#Emprego,
#Email {
    margin-right: 10px;
    margin-left: 100px;
}

#mainuser {
    margin-left: 100px;
    font-family: sans-serif;
}

#CenterColumn {
    width: 40%;
    margin: 0 auto;
}

#Publicação-1, #Publicação-2 {
    border: 1px solid #121212;
  padding: 10px;
  background-color: #002F67;
  color: white; 
  margin: 10px; 
  border-radius: 25px;
}

#Publicações {
    color:#001830;
    font-size: 12px;
    font-family: sans-serif;
    width: 100%;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  #Publicações h1 {
    color: #001830;
    align-self: left;
    margin-top: 20px;
  }

#Publicação-1 h1, #Publicação-2 h1 {
    margin-left: 10px;
    font-family: sans-serif;
    color: white;
  }
  
#Publicação-1 h2, #Publicação-2 h2 {
    margin-left: 20px;
    font-family: sans-serif;
    margin-bottom: -20px;
  }
  
  #UsernDate {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin-left: 20px;
  }
  
  #UsernDate img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 30px;
    border: solid 2px white;
  }
  
p {
    margin: 20px;
    font-family: sans-serif;
    font-size: larger;
  } 
  
#Publicação-1, #Publicação-2 {
    border: 1px solid #121212;
  } 
  
  #foca {
    align-self: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    scale: 0.9; 
  }

  #pfp {
    background-color: transparent;
    border: transparent;
    margin-top: 15px;
  }
  
  #navpfp {
    max-width: 50px;
    max-height: 50px;
    border-radius: 30px;
    border: none;
  }

  #Buttons {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }

  #UserData, #Sair {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  #UserData h1 {
    color: white;
    font-family: sans-serif;
    margin-right: 20px;
  }

  #Top {
    display: flex;
    justify-content: space-between;
  }

  #delete {
    margin: 30px;
  }

  #Bottom {
    margin: 30px;
  }

  #comment {
    margin-right: 20px;
  }
